<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/libraries/jquery-ui-1.11.0.custom/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/budget-vis.css">

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/libraries/jquery-ui-1.11.0.custom/jquery-ui.min.js"></script>    
    <script type="text/javascript" src="/javascripts/budget-vis.js"></script>
    <script type="text/javascript" src="/javascripts/issue.js"></script>
    <script type="text/javascript">
        var selected_budget = null;
        $(document).ready(function(){
            var container = d3.select("#center-content").append("xhtml:div")
            .attr("id", "budget-vis");

            $.getJSON('/budget/data', function(data){
                var vis = new BudgetVis();
                var issues = $.getJSON('/issue/list');
                vis.generate({
                    container : container,
                    size : { width: 600, height: 600, radius : 600},
                    data : data,
                    onSelect: function(d){
                        $("#budget_id").val(d._id);
                        $("#budget_selected").html('<span class="budget_selected">'+d.name+'</span>');
                        $("#accordion").accordion("option", "active", 0);
                        // TODO: Change this part
                        $.getJSON('/issue/'+d._id, function(data){
                            issues[d._id] = data.reverse();
                            Issue.listIssues(d);
                        });
                        selected_budget = d;
                    },
                    onDeselect: function(d){
                        $('#accordion').accordion("option", "active", false);
                        $("#budget_selected").html('없음');
                        Issue.listIssues();
                        selected_budget = null;                    
                    }           
                });
            });    
        });  
    </script>
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="site_name">BudgetMap</div>
            <div id="navigation">
                <ul id="navigation">
                    <li><a href="#">Nam Wook Kim</a></li>
                </ul>
            </div>
        </div>
        <div id="content-container">
            <div id="content">
                <div id="left-content">
                    <div id="accordion">
                        <h3>Add Issue</h3>
                        <div>
                            <form id="add_issue" action="/issue/add" method="post">
                                <input id="budget_id" name="budget_id" type="hidden"><br>
                                선택된 예산 항목:<br><div id="budget_selected"></div><br>
                                Type: <input id="issue" name="issue"></input> <br>
                                <span id="add_issue_success" style="display:none;color:green">Successfully added!</span>
                                <span id="add_issue_failed" style="display:none;color:red">Internal Error Occured!</span>
                                <button form="add_issue" type="submit" id="btn-add-issue">Add</button>
                                <button form="add_issue" type="reset" id="btn-reset-issue">Reset</button>
                            </form>
                        </div>
                        <h3>Evaluate Budget</h3>
                    </div>
                </div>
                <div id="center-content">
                </div>
                <div id="right-content">                    
                    <div id="budget-issue-relation"></div>
                </div>
            </div>
        </div>
        <div id="footer">
            Copyright @ KAIST, 2014
        </div>
    </div>
</div>
htmhtmll
</body>
</html>
