<html>
    <head>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script type="text/javascript" src="/javascripts/index.js"></script>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
        <title>{{title}}</title>
        <script type="text/javascript">
            $(window).load(function(){
                var get_url = '/data';
                budgetMap.getdata(get_url);
            });
        </script>
    </head>
    <body>
    </body>
</html>
