@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
    font: 12px "NanumGothic", "나눔고딕", "Malgun Gothic", "맑은 고딕", sans-serif;
    color: #555753;
    margin: 0px;
}

#budgetmap-log img{
    opacity: 0.5;
}
a:hover{
    text-decoration: underline;
}
a{
    color:steelblue;
    text-decoration: none;
}


#header{
    background: #555753;
    height: 40px;
    padding: 0px;
    margin: 0px;
    opacity: 0.95;
}
#site_name{
    float:left;
    font: 18px 'Open Sans', sans-serif;
    font-weight: bold;
    text-shadow: .5px .5px 0.5px #888a85;

    color: AliceBlue;
}

.navbar img{
    display: inline;
}
#content-container{
    clear: both;
    float:left;
    width:100%;
}
#content{
    float:left;
    width:100%;
}
#left-content{
    float:left;
    width: 680px;
    margin: 0 5px;
    height: 800px;
}
#center-content{
    float:left;
    width: 300px;
    margin: 0 5px;
    height: 800px;
}
#right-content{
    float:left;
    width: 300px;
    height: 800px;
    padding: 0px;
    margin: 0px;
}
#footer
{
    clear: both;
    background: #555753;
    text-align: center;
    padding-top: 5px;
    height: 20px;
    color: AliceBlue;
}
.issue-title {
    display: inline-block;
    background-color: #E6E6E6;
    border: 1px solid;
    border-radius: 5px;
    border-color: #A4A4A4;
    cursor: pointer;
    padding: 1px 3px;
    margin: 2px 1px;
    line-height: 120%;
}
.issue-title:hover {
    background-color: #81DAF5;
}
.issue-title:active {
    background-color: #58ACFA;
}
.budget-title {
    display: block;
    font: 14px;
}
#search-result>span {
    font: 16px;
    font-weight: bold;
    line-height: 160%;
    margin-bottom: 2px;
}
#search-summary {
    font: 21px;
}
.search-result {
    margin-left: 10px;
    word-wrap: break-word;
}
.search-result-service {
    margin-left: 10px;
}
#service-functions {
    display: none;
}
#btn-find_docs {
    margin-bottom: 10px;
}
/*
 * Basic properties
 */

*{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}
.navbar{
    background: #337ab7;
}
.navbar-inverse .navbar-brand{
    color: #fff;
}
.sidebar{
    background: #f2f2f2;
}
.nav-sidebar a{
    color: #2678b0;
}
.nav-sidebar>li>a:hover{
    background: #c8c8c8;
}
.nav-sidebar>.active>a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus{
    background: #666666;
}
.nav-sidebar #login-btn, .nav-sidebar #register-btn, .nav-sidebar #logout-btn{
    width: 90%;
    margin: 10px auto;
    color: #fff;
}
.nav-sidebar #login-btn:hover, .nav-sidebar #register-btn:hover, .nav-sidebar #logout-btn:hover{
    background: #2e6da4;
    color: #fff;
}
.navbar-inverse .navbar-toggle{
    border-color: #255d91;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background: #2e6da4;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    background: #2e6da4;
    border-color: #255d91;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background: #2e6da4;
}
.navbar-inverse .navbar-nav>li>a{
    color: rgba(255, 255, 255, .8);
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background: #25557e;
}
.navbar-inverse .navbar-nav>li>a:hover{
    background: #2c6190;
}
@media (min-width: 768px){
    .navbar-right{
        display: none!important;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
        background: #337ab7;
    }
}
